.paginator{
    text-align: center;
    padding-bottom: 20px;
}

.paginator span {
    margin-right: 10px;
    color: blueviolet;
    cursor: pointer;
}

.paginator span:hover{
    text-decoration: underline;
}

.paginator span.active{
    color: black;
    cursor: text;
    text-decoration: none;
}